$prefix: "../../../assets/img/";
$bg__about-img: 
    $prefix+"about/about-s1.jpg",
    $prefix+"about/about-s2.jpg";
$bg__branches-img: 
    $prefix+"branches/branches-s1.jpg",
    $prefix+"branches/branches-s2.jpg";
$bg__comingsoon-img: $prefix+"coming.jpg";
$bg__contact-img: 
    $prefix+"contact/contact-s1.jpg",
    $prefix+"contact/contact-s2.jpg",
    $prefix+"contact/contact-s3.jpg";
$bg__error-img: $prefix+"error.jpg";
$bg__index-img: $prefix+"index/index-s1.jpg";
$bg__privacy-img: $prefix+"privacy.jpg";
$bg__products-img: $prefix+"products/products-s1.jpg";
$bg__recipes-img: 
    $prefix+"recipes/recipes-s1.jpg",
    $prefix+"recipes/recipes-s2.jpg";
$bg__user-img: $prefix+"user/user-s1.jpg";
$bg__init:
    "about",
    "branches",
    "comingsoon",
    "contact",
    "error",
    "index",
    "privacy",
    "products",
    "recipes",
    "user";
$classes_init:
    $bg__about-img,
    $bg__branches-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__products-img,
    $bg__recipes-img,
    $bg__user-img;
$footer-height: 41px;
$color-shadow: #333;
$color__shadow: #333;
$text-shadow: 1px 1px 3px $color__shadow; 